@{
    ViewBag.Title = "Players";
}

<div class="row">
    <table class="table" id="tblPlayers">
        <thead>
            <tr>
                <th>@Html.DisplayName("Name")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Models.Player player in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(player.Name, "ForceList", new { id = player.PlayerID })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    <button class="btn btn-info" type="button" id="addPlayer"
                            onclick="location.href='@Url.Action("Create", "Players")'">+ Add Player
                        </button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>